.heading{
    color: rgb(223, 191, 28);
    padding-left: 50px;
    margin-top: 45px;
    font: bold;
    font-size: larger;}
.cont{
        color: aliceblue;
      padding-left: 50px;
      padding-right: 100px;
      font-size: larger;
      text-align: justify;
    }
.image{
    padding-left: 500px;
}    